<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title mb-1">{{ building.name }}</h5>

    <div class="d-flex justify-content-between mb-3 small">
      <div class="text-muted">
        <i class="fa fa-at"></i>
        {{ building.shortcut }}
      </div>
    </div>
    <p class="card-text">{{ building.description }}</p>
    <p class="text-align-top text-right text-warning me-1">
      <i class="fa fa-angle-double-up"></i> {{ building.searchWeight }}
    </p>
  </div>
</div>
