<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title mb-1">{{ lock.name }}</h5>
    
    <div class="d-flex justify-content-between mb-3 small" >
      <div class=" text-muted">
        <i class="fa fa-key"></i>
        {{ lock.serialNumber }}
      </div>
      <div class="" *ngIf="lock.floor">
        <i class="fa fa-angle-double-up"></i>
        {{ lock.floor }}
      </div>
    </div>
    <p class="card-text">{{ lock.building.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ lock.roomNumber }}</li>
    <li class="list-group-item">{{ lock.description }}</li>
  </ul>
</div>
