<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title mb-1">{{ lock.name }}</h5>

    <div class="d-flex justify-content-between mb-3 small">
      <div class="text-muted">
        <i class="fa fa-key"></i>
        {{ lock.serialNumber }}
      </div>
      <div class="" *ngIf="lock.floor">
        floor:
        {{ lock.floor }}
      </div>
    </div>
    <p class="card-text text-small">
      <i class="fa fa-building"></i> {{ lock.building.description }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex justify-content-between mb-3 small">
        <div>
          <p class="card-text text-small">room: {{ lock.roomNumber }}</p>
        </div>
        <div>
          <p class="text-align-top text-right text-warning me-1">
            <i class="fa fa-angle-double-up"></i> {{ lock.searchWeight }}
          </p>
        </div>
      </div>
    </li>
    <li class="list-group-item">{{ lock.description }}</li>
  </ul>
</div>
