<div class="container mt-3 mt-md-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search text ..." aria-label="Search text ..." aria-describedby="button-addon2">
          <select class="form-control input-group-append w-10">
            <option *ngFor="let op of entityOptions" value="op">{{op}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()">Search</button>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <div *ngFor="let lock of locks" class="col-3">
      <app-lock-item [lock]="lock"></app-lock-item>
    </div>
  </div>
</div>
