<div class="container mt-3 mt-md-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="searchText"
            placeholder="Search text ..." aria-label="Search text ..." 
            aria-describedby="button-addon2">
          <select class="form-control input-group-append w-10" [(ngModel)]="entity">
            <option *ngFor="let op of entityOptions" [value]="op">{{op}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()">Search</button>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="row" *ngIf="entity == 'Lock'">
    <div *ngFor="let lock of locks" class="col-3">
      <app-lock-item [lock]="lock"></app-lock-item>
    </div>
  </div>

  <div class="row" *ngIf="entity == 'Building'">
    <div *ngFor="let building of buildings" class="col-3">
      <app-building-item [building]="building"></app-building-item>
    </div>
  </div>

  <div class="row" *ngIf="entity == 'Group'">
    <div *ngFor="let group of groups" class="col-3">
      <app-group-item [group]="group"></app-group-item>
    </div>
  </div>
</div>
